@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html {
  scroll-behavior: smooth;
  font-family: Poppins;
  --swiper-theme-color: #001F3F !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
}

/*Navbar*/

nav {
  background-color: #00B894 !important;
  display: flex;
  align-items: center;
  min-height: 80.34px;
  font-size: 18px;
  gap: 65px;
  overflow: hidden;
  justify-content: space-between;
  padding: 0 30px 0 15px;
  position: fixed;
  width: 100%;
  padding: 0 !important;
}

.container-fluid, .sidebar, .offcanvas-header, .offcanvas-body {
  min-height: 80.34px;
  user-select: none;
}

.offcanvas-body {
  align-items: center;
}

#nav-right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 38px;
}

#navbar ul{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 1em;
}

#navbar li{
  list-style: none;
  font-size: 1em;
}

.nav-link{
  color: white !important;
  padding: calc((80.34px - 27px)/ 2) !important;
}

.navbar-toggler:hover {
  background-color: #028a6f !important;
  transition: .5s;
}

#navbar a{
  display: block;
  color: white;
  padding: 1em 1em;
  text-decoration: none;
  font-size: 1.8rem;
  text-align: center;
  font-size: 1em;
}

.nav-link {
  font-family: Poppins;
}

.nav-link:hover{
  background-color: #028a6f !important;
  transition: .5s;
}

#sign-in{
  height: 50%;
  min-width: 156px;
  height: 40px;
  font-size: 1em;
  border: 1px solid white;
  border-radius: 5px;
  margin-left: 12px;
  font-family: Poppins;
}

#sign-in:hover {
  background: #00B894;
  color: white;
  font-size: 20px;
  transition: .5s;
}

@media (max-width: 991px) {
  .sidebar {
    background-color: #00B894 !important;
    backdrop-filter: blur(10px) !important;
  }

  .navbar-nav{
    padding: 0 !important;
  }
  .nav-item{
    width: 100% !important;
  }
  
  #sign-in {
    min-width: 100% ;
    min-height: 50px;
    margin-top: 20px;
    margin-left: 0;
    
  }
}

@media (max-width: 651px) {
  #home h1 {
    font-size: 48px !important;
  }
}

@media (max-width: 381px) {
  .logo {
    width: 200px;
    height: 27px;
  }
}

/*Home---------------------------------------------*/

#home{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fffebdc9;
  padding-top: 80.328px;
  user-select: none;
}

#home::before{
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  position: absolute;
  background-image: url(../images/bg-home.png);
  background-size: cover;
  background-position: center;
  z-index: -1;
}

#home-container{
  display: flex;
  margin: 0 10%;
  flex-direction: column;
  align-items: center;
  gap: 62px;
}

#home h1 {
  text-align: center;
  align-self: stretch;
  font-size: 64px;
  font-style: normal;
  font-weight: 500;
  line-height: 98%; /* 60.8px */
}

#home p {
  max-width: 440px;
  text-align: center;
}

#home button{
  max-width: 320px;
  width: 100%;
  color: white;
  padding: 18px;
  font-size: 18px;
  background-color: #001F3F;
  box-shadow:  0px 4px 0px 0px #002955;
  border-radius: 5px;
  border-style: none;
  position: relative;
  z-index: 1;
  overflow: hidden;
  font-family: Poppins;
}

#home button::before {
  content: "";
  background-color: #002955;
  width: 100%;
  height: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  z-index: -1;
  transition: height .5s ease-in-out;
}

#home button:hover::before {
  height: 100%;
}

#home p {
  font-size: 20px;
}

/*Details------------------------------------------*/

#details{
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FFD700;
  user-select: none;
}

#details-container{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 12%;
  gap: 40px;
}

#img-container{
  width: 50%;
  background-color: #001F3F;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#details h2 {
  align-self: stretch;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 98%; /* 60.8px */
}

#details p {
  font-family: Poppins;
  font-size: 20px;
}

#details img {
  width: 80%;
  height: auto;
  border-radius: 5px;
}

@media (max-width: 1020px) {
  #details {
    flex-direction: column;
    height: auto;
    text-align: center;
    padding: 90px 0;
    gap: 80px;
  } 
  #details-container{
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 12%;
    gap: 35px;
  }
  #img-container{
    width: 90%;
    padding: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
  }
}

/*Benefits----------------------------------------*/

#benefits {
  width: 100%;
  min-height: 720px;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  gap: 50px;
  user-select: none;
  padding-top: 80px;
}

#benefits h2 {
  align-self: stretch;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 98%; /* 60.8px */
  text-align: center;
}

.container {
  max-width: 1120px;
  width: 100%;
  padding: 40px 0;
  height: 530px;
}
.slide-container {
  margin: 0 30px;
  overflow: hidden;
}
.card {
  background: #fff;
  border-radius: 8px;
}
.card .image-box {
  height: 300px;
}
.card .image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
}
.card .profile-details {
  display: flex;
  align-items: center;
  column-gap: 12px;
  padding: 15px;
}
.card .profile-details img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
#benefits p {
  font-size: 20px;
}

.swiper-navBtn {
  color: #000;
  height: 40px;
  width: 40px;
  background: #fff;
  border-radius: 50%;
}
.swiper-navBtn::before,
.swiper-navBtn::after {
  font-size: 16px;
}

@media screen and (max-width: 768px) {
  .swiper-navBtn {
    display: none;
  }
}
.slick img{
  object-fit: cover;
  height: 300px;
  width: 100%;
  border-radius: 4px;
  box-shadow: 0 2px 5px 0 002955;
  transition: .3s ease-in-out;
}
.slick img:hover{
  opacity: .85;
}

/*Buttons---------------*/

.slick-arrow{
  border-radius: 30px;
  background-color: #fff;
  position: absolute;
  z-index: 4;
  width: 48px;
  height: 48px;
  text-align: center;
  box-shadow: 0 2px 5px 0 #001f3f38;
  border: 0;
  cursor: pointer;
}
.slick-arrow:focus{
  outline: 0;
}
.slick-arrow svg{
  width: 12px;
  height: 100%;
  color: #001f3fc7;
}
.slick-prev{
  left: 0px;
}
.slick-next{
  right: 0px;
}

/*Contact------------------------------------------*/

#contact {
  width: 100%;
  height: 70vh;
  min-height: 630px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #2E2E2E;
  gap: 40px;
  user-select: none;
}

#contact h2 {
  align-self: stretch;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 98%; /* 60.8px */
  text-align: center;
  color: #FFF
}

form {
  width: 90%;
  max-width: 400px;
  margin: 0 30px !important;
  display: flex;
  flex-direction: column;
  gap: 20px
}

.controller {
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
  font-family: inherit;
  font-size: inherit;
  color: rgb(122, 122, 122);
  border: none;
  border-radius: 5px;
  border-color:gray;
}

#contact button{
  width: 90%;
  max-width: 400px;
  width: 100%;
  color: white;
  padding: 18px;
  font-size: 18px;
  background-color: #001F3F;
  border-radius: 5px;
  border: 1px solid #fff;
  position: relative;
  z-index: 1;
  overflow: hidden;
  font-family: Poppins;
}

#contact button::before {
  content: "";
  background-color: #002955;
  width: 100%;
  height: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  z-index: -1;
  transition: height .5s ease-in-out;
}

#contact button:hover::before {
  height: 100%;
}

/*Footer-----------------------*/

footer {
  width: 100%;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #00B894;
  gap: 10%;
  padding: 40px 0;
}

#info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
}

footer a {
  color: white;
  text-decoration: none;
  font-family: Poppins;
  max-width: 70px;
  text-align: center;
}

footer a:hover {
  transform: scale(1.1) !important;
  transition: .5s;
}

footer img {
  width: 30%;
  height: auto;
}

footer p {
  margin: 0;
}

#line {
  content: "";
  width: 90%;
  height: 1px;
  background: #FFF;
}

#social-media {
  display: flex;
  gap: 30px;
}

#rights {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  color: white
}

#p-t{
  display: flex;
  gap: 5px;
}